<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Notizspeicher - Dashboard</title>
    <style>
        .note {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            width: 200px;
            height: 200px;
            display: inline-block;
            vertical-align: top;
            /*background-color: #f9f9a9;*/
        }
        .note-title {
            font-weight: bold;
            font-family: "Comic Sans MS";
        }
        .note-content {
            margin-top: 10px;
            font-family: "Comic Sans MS";
        }
        .add-note {
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <img th:src="@{/img/thowl_logo.png}" />
    <h1>Dashboard - Willkommen, <span th:text="${user.username}">USER_NAME</span></h1>

    <div>
        <form action="/addCategory" method="post">
            <input type="text" name="categoryName" placeholder="New Category" required/>
            <input type="color" name="categoryColour" value="#f9f9a9"/>
            <button type="submit">Add Category</button>
        </form>

    </div>

    <div class="add-note">
        <form action="/addNote" method="post">
            <input type="text" name="title" placeholder="Title" required/>
            <textarea name="content" placeholder="Content" required></textarea>
            <input type="text" name="tags" placeholder="Tags, mit Komma getrennt"/>
            <label>Category:</label>
            <select name="category">
                <option selected value=''>No Category</option>
                <option th:each="category : ${categories}"
                        th:value="${category.categoryName}"
                        th:text="${category.categoryName}"></option>
            </select>
            <button type="submit">Add Note</button>
        </form>
    </div>

    <div>
        <h2>Your Notes</h2>
        <div th:each="note : ${notes}" class="note" th:style="${'background: ' + note.categoryColour()}">
            <p class="note-title" th:text="${note.title}">Note Title</p>
            <p class="note-content" th:text="${note.content}">Note Content</p>
            <p class="note-tags" th:text="${note.tags}">Note Tags</p>
            <p class="note-category" th:text="${note.category}">Note Category</p>
            <p class="note-createdAt" th:text="${note.createdAt}">Note Creation Time</p>
        </div>
    </div>

    <div>
        <h2>Filter</h2>
        <form method="post">
            <input type="text" name="filterTags" placeholder="Tags, mit Komma getrennt" th:value="${#strings?.listJoin(filter?.filterTags, ',')}"/>
            <input type="checkbox" name="mustContainAllTags" id="mustContainAllTags" th:checked="${filter?.mustContainAllTags}">
            <label for="mustContainAllTags">Must contain all tags</label><br><br>
            <label for="filterCategory">Category:</label>
            <select id="filterCategory" name="filterCategory">
                <option selected value='disabled'>Don't Filter</option>
                <option value=''>No Category</option>
                <option th:each="choice : ${categories}"
                        th:value="${choice.categoryName}"
                        th:text="${choice.categoryName}"
                        th:selected="(${choice.id} == *{lastFilterCategory?.id})"></option>
            </select><br><br>
            <button type="submit" formaction="/filter">Filter</button>
            <button type="submit" formaction="/resetFilter">Reset Filter</button>
        </form>
    </div>

    <h1>User details:</h1>

    <div>
        <span>ID = <span th:text="${user.id}">USER_ID</span></span>
        <br>
        <span>Name = <span th:text="${user.username}">USER_NAME</span></span>
        <br>
        <span>E-Mail = <span th:text="${user.email}">USER_EMAIL</span></span>
    </div>
    <br>
    <br>
    <form action="/logout" method="post">
        <button type="submit" class="center-button">Logout</button>
    </form>
    <a href="/test">Go to Test Page</a>
</body>
</html>