<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Notizspeicher - Dashboard</title>
    <style>
        .note {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            width: 200px;
            height: 270px;
            display: inline-block;
            vertical-align: top;
        }
        .note-title {
            font-weight: bold;
            font-family: "Comic Sans MS";
        }
        .note-content {
            margin-top: 10px;
            font-family: "Comic Sans MS";
        }
        .add-note {
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <img th:src="@{/img/thowl_logo.png}" />
    <h1>Dashboard - Willkommen, <span th:text="${user.username}">USER_NAME</span></h1>

    <h2>Neue Kategorie erstellen</h2>
    <div>
        <form action="/addCategory" method="post">
            <input type="text" name="categoryName" placeholder="Kategorie" required/>
            <input type="color" name="categoryColour" value="#f9f9a9"/>
            <button type="submit">hinzufügen</button>
            <a th:if="${categoryMessage == 'Kategorie erfolgreich gespeichert!'}" th:text="${categoryMessage}" th:style="'color:green'"></a>
            <a th:if="${categoryMessage == 'Kategorie existiert bereits!'}" th:text="${categoryMessage}" th:style="'color:red'"></a>
        </form>
    </div>

    <h2>Neue Notiz erstellen</h2>
    <div class="add-note">
        <form action="/addNote" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Titel" required/>
            <br>
            <br>
            <textarea name="content" placeholder="Text/Link" required></textarea>
            <label for="imageUpload">Bild als Notiz hochladen: </label>
            <input type="file" id="imageUpload" name="image" accept="image/png, image/jpeg"/>
            <br>
            <br>
            <input type="text" name="tags" placeholder="Schlagwort1,Schlagwort2..."/>
            <label>Kategorie:</label>
            <select name="category">
                <option selected value=''>Keine Kategorie</option>
                <option th:each="category : ${categories}"
                        th:value="${category.categoryName}"
                        th:text="${category.categoryName}"></option>
            </select>
            <button type="submit">erstellen</button>
        </form>
    </div>

    <div>
        <h2>Deine Notizen</h2>
        <div th:each="note, iterStat : ${notes}" class="note" th:styleappend="${note.type == 'image' ? note.image : 'background: ' + note.categoryColour}" th:style="'background-size: contain;'">
            <a th:if="${note.type == 'link'}" class="note-title" th:text="${note.title}" th:href="${note.content}" target="_blank">Note Title</a>
            <p th:unless="${note.type == 'link'}" class="note-title" th:text="${note.title}">Note Title</p>
            <p th:if="${note.type == 'text'}" class="note-content" th:text="${note.content}">Note Content</p><br><br>
            <p class="note-tags" th:text="${note.tags}">Note Tags</p>
            <p class="note-category" th:text="${note.category}">Note Category</p>
            <p class="note-createdAt" th:text="${note.createdAt}">Note Creation Time</p>

            <a th:href="${note.shareLink}" target="_blank">
                <button>Notiz freigeben</button>
            </a>
            <form th:object="${note}" style="display: inline">
                <button th:formaction="@{/delete}" type="submit" th:value="*{id}" name="id">Notiz löschen</button>
            </form>

        </div>
    </div>

    <div>
        <br>
        <br>
        <h2>Filter</h2>
        <form method="post">
            <input type="text" name="filterTags" placeholder="Schlagwort1,Schlagwort2..." th:value="${#strings?.listJoin(filter?.filterTags, ',')}"/>
            <input type="checkbox" name="mustContainAllTags" id="mustContainAllTags" th:checked="${filter?.mustContainAllTags}">
            <label for="mustContainAllTags">Muss alle Schlagwörter enthalten</label><br><br>
            <label for="filterCategory">Kategorie:</label>
            <select id="filterCategory" name="filterCategory">
                <option value='disabled'>Nicht Filtern</option>
                <option th:selected="${filter?.filterCategory} == ''" value=''>Keine Kategorie</option>
                <option th:each="choice : ${categories}"
                        th:value="${choice.categoryName}"
                        th:text="${choice.categoryName}"
                        th:selected="(${choice.categoryName} == *{filter?.filterCategory})"></option>
            </select><br><br>
            <label for="filterNoteType">Notiz Typ:</label>
            <select id="filterNoteType" name="filterNoteType">
                <option selected value="disabled">Nicht Filtern</option>
                <option th:selected="${filter?.filterNoteType} == 'text'" value="text">Text</option>
                <option th:selected="${filter?.filterNoteType} == 'link'" value="link">Link</option>
                <option th:selected="${filter?.filterNoteType} == 'image'" value="image">Bild</option>
            </select><br><br>
            <label for="filterDateType">Datum:</label>
            <select id="filterDateType" name="filterDateType">
                <option selected value="disabled">Nicht Filtern</option>
                <option th:selected="${filter?.filterDateType} == 'before'" value="before">Vor:</option>
                <option th:selected="${filter?.filterDateType} == 'after'" value="after">Nach:</option>
            </select>
            <input type="datetime-local" name="filterDate" th:value="${filter?.filterDate}">
            <br><br>
            <button type="submit" formaction="/filter">Filtern</button>
            <button type="submit" formaction="/resetFilter">Filter zurücksetzen</button>
        </form>
    </div>
    <br>
    <br>
    <form action="/logout" method="post">
        <button type="submit" class="center-button">Logout</button>
    </form>
</body>
</html>